GEMINI_API_KEY=AIzaSyBghiKYX0wzX1HMxrClUvD_bHl28diORQE
SEPAY_API_KEY=UB0VENQ7GWL7LP8VHDMI6U6HSGNQD25CI9DCAFBKZTUTS2MNZJZJF81J3COXTIOT
OLLAMA_API_URL=https://e2e2ba416f69.ngrok-free.app

# AI Service Config
SKIP_LLM_PER_ARTICLE=false

# GMAIL SMTP CONFIG
SMTP_EMAIL=mandeotv1234@gmail.com
SMTP_PASSWORD=fzmg dsfk hcwu hwmp
